/*********
**************** Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*********
**************** Variables */
:root {
  --main-bg-color: hsl(5, 85%, 64%);
  --main-text-color: hsl(33, 84%, 68%);
  --main-text-color-highlight: hsl(33, 100%, 50%);
  --hero-color-background: hsl(260, 21%, 81%);
  --hero-color-darker-background: hsl(0, 0%, 35%);
}
/*********
**************** Fonts */
body {
  font-family: "Montserrat", sans-serif;
}

/*********
**************** Header Styles */
header {
  padding: 20px 35px;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--main-text-color);
}

header a {
  text-decoration: none;
  color: var(--main-text-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  color: var(--main-text-color-highlight);
  border-radius: 15px;
}

/*********
**************** Footer Styles */
footer {
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--hero-color-darker-background);
}

footer h4 {
  color: var(--main-bg-color);
  font-size: 15px;
  margin: 0;
}

/*********
**************** Global Styles */
section {
  padding: 60px;
}

/*********
**************** Hero Styles */
.hero {
  background-image: url("../images/dca-header-img.jpg");
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: 83%;
  height: 500px;
}

.hero h2 {
  font-style: normal;
  font-size: 30px;
  color: var(--main-bg-color);
  float: right;
  background-color: var(--hero-color-darker-background);
}

/*********
**************** Main Styles */
.header-text {
  font-size: 1.8rem !important;
}

.section {
  background-color: var(--main-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8%;
}

.section-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 35px;
  color: var(--main-text-color);
  margin: 0 auto 0 auto;
  padding-right: 15px;
  width: 10%;
  text-align: end;
  border-right: var(--main-text-color) solid 3px;
}

.section-title2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 35px;
  color: var(--main-text-color);
  margin: 0 auto 0 auto;
  padding-right: 15px;
  width: 10%;
  text-align: end;
  height: 1250px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 90%;
}

.flex-row2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 90%;
  border-left: var(--main-text-color) solid 3px;
}

.section p,
.section a {
  line-height: 1.5;
  color: var(--main-text-color);
  width: 80%;
  margin: 0 auto;
  font-size: 21px;
  text-align: left;
  padding: 0 15px 0 15px;
}

.flex-row2 p {
  display: inline-block;
  text-align: start;
  background-color: var(--hero-color-darker-background);
  opacity: 85%;
  width: 45%;
  position: absolute;
  bottom: 10%;
  left: 0%;
}

/*********
**************** Main Project Styles */
.main-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  height: 650px;
  width: 100%;
}

.side-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 0 auto;
  flex-direction: row;
  width: 100%;
}

/*********
**************** Hero Job Styles */
.first-job {
  background-image: url("../images/dr-schulze-mainWeb.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
  margin: 0 1% 2% 1%;
  border: 5px solid;
  position: relative;
}

.first-job:hover {
  opacity: 75%;
  content: "";
  background-color: rgba(#000, 0);
  transition: 0.3s;
}

/*********
**************** Sugarfina Styles */
.sugarfina {
  background-image: url(../images/dca-sugafina-email.jpg);
  background-size: cover;
  width: 47.5%;
  height: 300px;
  margin-bottom: 2%;
  margin-right: 0.5%;
  border: 5px solid;
  position: relative;
}

.sugarfina:hover {
  opacity: 75%;
}

/*********
**************** Fairness Styles */
.fairnessact {
  background-image: url(../images/dca-fairnessact-nick-rowley.jpg);
  background-size: cover;
  width: 47.5%;
  height: 300px;
  margin-bottom: 2%;
  margin-left: 0.5%;
  border: 5px solid;
  position: relative;
}

.fairnessact:hover {
  opacity: 75%;
}

/*********
**************** Tic-Tac-Toe Styles */
.tic-tac-toe-vocab {
  background-image: url(../images/tic-tac-toe-vocab.png);
  background-size: cover;
  width: 47.5%;
  height: 300px;
  margin-bottom: 2%;
  margin-right: 0.5%;
  border: 5px solid;
  position: relative;
}

.tic-tac-toe-vocab:hover {
  opacity: 75%;
}

/*********
**************** Vans Customs Styles */
.vans {
  background-image: url(../images/dca-vans-custom.jpg);
  background-size: cover;
  width: 47.5%;
  height: 300px;
  margin-bottom: 2%;
  margin-left: 0.5%;
  border: 5px solid;
  position: relative;
}

.vans:hover {
  opacity: 75%;
}

#contact-me {
  padding: 9%;
}

/*********
**************** Media Queries */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }

  .section-title {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 575px) {
  .section-title {
    width: 95%;
  }

  .section p {
    width: 100%;
  }
}
